.collection__movie {
  height: 500px;
  margin: 30px;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template: 5fr 1fr/ 1fr 3fr;
}

.collection__img-container {
  height: 100%;
  width: 350px;
  grid-row: 1 / 3;
  overflow: hidden;
}

.collection__img {
  width: 100%;
  height: auto;
  object-fit: contais;
  object-position: center;
}

.collection__title {
  font-size: 2.5em;
  text-align: left;
  margin-left: 75px;
}

.collection__overview {
  font-size: 1.4rem;
  padding: 20px 75px;
  text-align: justify
}
.collection__main-info {
  align-self: flex-start;
}
