.movie-settings__container {
  display: flex;
  grid-column: 2 / 3;
}

.movie-settings__rating {
  font-weight: bolder;
}

.movie-settings__rating {
  margin: 10px;
  padding: 10px;
  font-size: 1.4rem;
}