.movie-details {
  display: grid;
  justify-items: center;
}

.movie-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 20px;
}

.img-details {
  width: 400px
}

.overview-title {
  font-size: 2rem;
  margin-bottom: 10px;
}

.overview {
  font-size: 1.5em;
  padding: 20px 100px 50px 100px;
  text-align: justify;
}

.add-collection-btn {
  background-color: lightskyblue;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  font-size: 1.4rem;
}