.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.current-page, .change-page-btn {
  padding: 10px;
  margin: 5px;
  font-size: 1.4rem;
}

.change-page-btn {
  background-color: lightskyblue;
  border-radius: 5px;
}
