.showcase__container {
  padding: 0;
  margin: 20px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.showcase__movie {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.showcase__img {
  object-fit: contain;
  object-position: center;
  height: 300px;
}

.showcase__title {
  font-family: 'Oswald', sans-serif;
  display: grid;
  text-align: center;
  width: auto;
  height: 70px;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 20px;
}